/************************************
          General
************************************/

*{
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  color: #939598;
}

btn:focus{
  border: none;
  outline: none;
}

textarea:focus{
  border: none;
}

/************************************
          Header
************************************/

header{
  width: 100%;
  height: auto;
  background: #e5f3f2;
}

.input-container{
  display: flex;
  flex-direction: column;
  width: 320px;
  height: auto;
  margin: auto;
  background: #e5f3f2;
  align-items: center;
}

.idea{
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  font-weight: 700;
  margin: 12px 0 12px 0;
  color: #00a79d;
}

.box{
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 0 0;
  color: #6d6e71;
}

.input-title{
  font-size: 14px;
  width: 300px;
  height: 25px;
  margin: 0 0 10px 0;
  color: #939598;
  border: solid 2px #d1d3d4;
}

.input-task{
  font-size: 14px;
  width: 300px;
  height: 75px;
  margin: 0 0 10px 0;
  resize: none;
  color: #939598;
  border-width: 2px;
  border-color: #d1d3d4;
}

input::placeholder{
  opacity: .8;
  color: #939598;
}

textarea::placeholder{
  opacity: .8;
  color: #939598;
}

.save-btn,
.toggle-btn,
.all-btn,
.filter-btn,
.show-Mo {
  width: 300px;
  height: 30px;
  margin: 0 0 0 0;
  text-decoration: none;
  color: #fff;
  border: none;
  background: #00a79d;
}

.toggle-container {
  margin: 5px auto;
}

.show-btn {
  height: 30px;
  width: 145px;
  margin-right: 2.5px;
}

.hide-btn {
  height: 30px;
  width: 145px;
  margin-left: 2.5px;
}

.filter-container {
  display: inline;
}

.filter-btn {
  height: 20px;
  width: 56.5px;
  margin: 5px auto 10px auto;
}

button:active{
  outline: none;
}

.save-btn:hover{
  background: #045e55;
}

.save-btn:disabled{
  background: #00a79d;
}

/************************************
          Main
************************************/

main{
  width: 100%;
  height: auto;
}

.search-container{
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 60px;
  margin: auto;
  align-items: center;
}

.search-input{
  font-size: 14px;
  width: 300px;
  height: 25px;
  margin: auto;
  color: #939598;
  border: solid 2px #d1d3d4;
}

.card-container{
  display: flex;
  flex-direction: column;
  width: 320px;
  height: auto;
  margin: auto;
  align-items: center;
}

.idea-card{
  width: 300px;
  height: 200px;
  margin: auto;
}

.idea-title{
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  display: inline;
  width: 275px;
  margin: 0 0 0 0;
  color: #6d6e71;
  border: none;
  outline: none;
}

.delete-btn{
  float: right;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  background-image: url('assets/delete.svg');
  background-repeat: round;
}

.delete-btn:hover{
  background-image: url('assets/delete-hover.svg');
}

.idea-task{
  font-size: 12px;
  width: 300px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: none;
  color: #939598;
  border: none;
}

.task-click {
  resize: none;
  color: red;
  text-decoration: line-through;
  border: none;
}

.btn-container{
  width: 100%;
  height: 22px;
}

.completed {
  float: right;
  display: inline;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  background: inherit;
  border: none;
}

.arrow-up{
  display: inline;
  width: 20px;
  height: 20px;
  margin-right: 7px;
  border: none;
  background: none;
  background-image: url('assets/upvote.svg');
  background-repeat: round;
}

.arrow-up:hover{
  background-image: url('assets/upvote-hover.svg');
}

.arrow-down{
  display: inline;
  width: 20px;
  height: 20px;
  margin-right: 7px;
  border: none;
  background: none;
  background-image: url('assets/downvote.svg');
  background-repeat: round;
}

.arrow-down:hover{
  background-image: url('assets/downvote-hover.svg');
}

.quality{
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  position: relative;
  top: -3px;
  display: inline;
  margin: 0 0 0 0;
  color: #6d6e71;
}

.quality-value{
  font-size: 12px;
  position: relative;
  top: -3px;
  display: inline;
  margin: 0 0 0 0;
  color: #6d6e71;
}

hr{
  height: 2px;
  margin: 10px 0 10px 0;
  color: #d1d3d4;
  border: none;
  background-color: #d1d3d4;
}

.show-Mo {
  height: 50px;
  width: 100%
}

/***************************************
media query 750
****************************************/

@media screen and (min-width: 750px){
  .input-container,
  .search-container,
  .card-container {
    width: 700px;
  }

  .input-title,
  .input-task,
  .save-btn,
  .search-input,
  .idea-card,
  .all-btn {
    width: 410px;
  }

  .show-btn,
  .hide-btn {
    height: 30px;
    width: 200px;
  }

  .filter-btn {
    width: 78.5px;
  }

  .idea-task{
    width: 400px;
  }

  .idea-title{
    width: 375px;
    }

}


/***************************************
media query 1000
****************************************/

@media screen and (min-width: 1000px){
    .input-title,
    .input-task,
    .save-btn,
    .search-input,
    .idea-card,
    .all-btn {
        width: 640px;
    }

    .input-title,
    .input-task,
    .save-btn,
    .search-input {
        font-size: 26px;
        height: 40px;
    }

    .show-btn,
    .hide-btn {
      font-size: 20px;
      width: 315px;
    }

    .all-btn{
      font-size: 20px;
    }

    .filter-btn {
      width: 124.4px;
    }

    .idea,
    .box {
        font-size: 50px;
    }

    .input-container {
        height: 320px;
    }

    .delete-btn {
        width: 30px;
        height: 30px;
        margin-top: 3px;
    }

    .idea-title,
    .show-Mo {
        font-size: 26px;
    }

    .idea-title,
    .idea-task {
        width: 590px;
    }

    .quality,
    .quality-value,
    .completed,
    .idea-task {
        font-size: 20px;
    }

    .arrow-up,
    .arrow-down {
        width: 30px;
        height: 30px;
    }

    .idea-card {
        height: 210px;
    }

    hr {
        margin-top: 20px;
    }

}
